html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landing {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(IMG_1024.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 10px 10px 100px black;
}

.landing-image {
  height: 100vh;
  object-fit: contain;
}

.image-container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

a {
  color: white;
  text-transform: uppercase;
}

.banner-image {
  max-width: 100vw;
}

.banner-image-opaque {
  max-width: 100vw;
  opacity: 0.5;
}

.brianna {
  text-transform: lowercase;
  font-size: 4em;
  text-align: center;
  text-shadow: 10px 10px 100px black;
  color: whitesmoke;
  margin-bottom: 0.5em;
}
.author {
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  color: whitesmoke;
  text-shadow: 10px 10px 100px black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav-bar-name {
  font-size: 2em;
  text-transform: uppercase;
}
/* nav bar styles */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
}
li {
  display: block;
  margin: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: grey;
}

/* individual page styles */
h1 {
  text-align: center;
}

p {
  margin: 1rem;
}

/* book page styles */

.book-grid {
  display: flex;
}

.book {
  text-emphasis: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.cover-div {
  /* border: 1px solid black; */
  height: 25rem;
  margin-bottom: 1rem;
}
.cover-image {
  height: 100%;
}

.book-copy {
  font-size: 1rem;
}
.pub-date {
  font-weight: 500;
}
